.hr {
    border: none;
    height: 2px;
    background-color: var(--color-gray-light-4);
    width: 8rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;

    &--primary { background-color: var(--color-primary); }
    &--secondary { background-color: var(--color-secondary); }

    &--center {
        margin-left: auto;
        margin-right: auto;
    }
    &--right { margin-left: auto; }

    &--medium { height: 4px; }
    &--bold { height: 6px; }

    &--small {
        width: 4rem;
        margin-top: 0;
    }
    &--big { width: 12rem; }
}