@import './../../style/shared.scss';

.register {
    position: relative;
    background-color: var(--color-white);
    box-shadow: var(--shadow-small-middle);
    border-radius: var(--default-border-radius);
    margin-top: var(--default-vertical-gap);

    &__nav {
        position: absolute;
        top: 0;
        right: 10%;
        transform: translateY(-100%);

        &-button {
            display: inline-block;
            padding: 1.2rem 2.4rem;
            color: var(--color-white);
            font-size: 1.2rem;
            line-height: 1;
            font-weight: 600;
            letter-spacing: 1px;
            background-color: var(--color-secondary-light);
            box-shadow: var(--shadow-small-middle);
            cursor: pointer;
            transition: all .6s;
            backface-visibility: hidden;
            
            &:not(&--active):hover {
                background-color: var(--color-secondary);
            }

            &--active {
                background-color: var(--color-tertiary-light);
                color: var(--color-gray-light-1);
                transform: scale(1.1);
                transform-origin: bottom;
            }

            &:not(:last-child) {
                margin-right: 1rem;
            }
        }
    }

    &__content {
        overflow: hidden;
        position: relative;
        border-radius: var(--default-border-radius);
    }
    
    &__form {
        &-heading { 
            text-align: center;
            margin-bottom: 4.5rem;
        }
    }
    
    &__block {
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        
        transition: transform .6s ease-in-out;
        
        // make bigger element relative for height
        &--user { transform: translateX(0); position: relative; }
        &--company { 
            transform: translateX(100%);
        }

        & .form {
            flex: 1;
            padding: calc(2 * var(--default-padding));
            padding-bottom: calc(4 * var(--default-padding))
        }
    }

    &__content--active-company &__block--user { transform: translateX(-100%) }
    &__content--active-company &__block--company { transform: translateX(0) }

    &__bg-img {
        flex: 0 1 25%;
        background-position: top center;
        background-size: cover;
        background-repeat: no-repeat;

        &--user {
            background-image: 
                linear-gradient(to right bottom,
                    rgba($color-primary-light,.25),
                    rgba($color-primary-dark,.05)),
                url(../../assets/imgs/user-bg.jpg);
        }
        &--company {
            background-image: 
                linear-gradient(to right bottom,
                rgba($color-secondary-light,.55),
                rgba($color-secondary-dark,.25)),
                url(../../assets/imgs/company-bg.jpg);
        }
    }
}