.tag {
    display: inline-block;
    font-size: 1.1rem;
    padding: .4em .8rem;
    margin-bottom: .4rem;
    // background-color: var(--color-gray-light-1);
    // border-radius: .4rem;
    box-shadow: var(--shadow-tag);
    transition: all .3s;

    &:hover {
        cursor: pointer;
        background-color: var(--color-gray-light-3);
        color: var(--color-gray-dark-1);
    }

    &:not(:last-of-type) { margin-right: .6rem; }
}