.tag {
    display: inline-block;
    font-size: 1.4rem;
    padding: .2rem 1rem;
    border-radius: 3rem;
    background-color: var(--color-gray-light-1);
    cursor: pointer;
    transition: all .3s;

    &:hover {
        background-color: var(--color-gray-light-2);
        color: var(--color-gray-dark-1);
    }

    &--simple {

    }

    &--small {
        font-size: 1rem;
    }

    &--big {
        font-size: 1.6rem;
    }
    
    &:not(:last-of-type) { margin-right: .4rem; }
}