.content {
    margin-top: var(--default-vertical-gap);
    margin-bottom: calc(2 * var(--default-vertical-gap));

    // Wyliczyć !
    min-height: calc(100vh - 14rem - 45rem - 7rem - 12rem);
    min-height: 65vh;

    & > *:not(:last-child) {
        margin-bottom: var(--default-vertical-gap);
    }
}

.list {

    .heading-secondary {
        line-height: 1;
    }

}
