.company {
    background-color: var(--color-white);
    border-radius: var(--default-border-radius);
    box-shadow: var(--shadow-small-middle);

    &__top {
        display: flex;
        align-items: center;
        border-bottom: var(--border-light);
    }
    
    &__top-heading {
        margin-right: auto;
        padding: calc(var(--default-padding) / 2) var(--default-padding);
    }

    &__top-location {
        align-self: stretch;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 var(--default-padding);
        font-size: 1.6rem;
        border-left: var(--border-lighter);

        &:link,
        &:visited {
            color: var(--color-primary);
            text-decoration: none;
        }

        &:hover {
            color: var(--color-primary-dark);
        }
    }

    &__top-rate {
        align-self: stretch;
        padding: 0 var(--default-padding);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 3rem;
        font-weight: 300;
        color: var(--color-white);
        background-color: var(--color-primary);
    }

    &__content {
        display: flex;
        padding: calc(2 * var(--default-padding));
    }

    &__description {
        flex: 0 1 60%;
        margin-right: calc(2 * var(--default-horizontal-gap));
    }

    &__description-text {
        font-size: 1.4rem;
        padding-left: 1rem;
    }

    &__site {
        display: flex;
        align-items: center;
        transition: color .3s;

        & .icon {
            margin: 0 1rem;
        }
        &:link,
        &:visited {
            text-decoration: none;
            font-size: 1.4rem;
            letter-spacing: 1px;
            font-weight: 600;
            color: var(--color-secondary);
        }

        &:hover,
        &:active {
            color: var(--color-primary);
        }
    }

    &__review {
        flex: 1;

        &-item {
            position: relative;
            border-radius: var(--default-border-radius);
            box-shadow: var(--shadow-small-middle);
            padding: var(--default-padding);

            &::before {
                content: '';
                position: absolute;
                display: block;
                top: 0;
                left: 0;
                border-top: 12px solid var(--color-secondary-light); 
                border-right: 12px solid transparent; 
                border-bottom: 12px solid transparent; 
                border-left: 12px solid var(--color-secondary-light);
                transition: border .3s;
            }
        }
        
        &-item:hover::before {
            border-top: 15px solid var(--color-tertiary); 
            border-right-width: 15px; 
            border-bottom-width: 15px; 
            border-left: 15px solid var(--color-tertiary);   
        }

        &-item:not(:last-child) {
            margin-bottom: var(--small-vertical-gap)
        }

        &-header {
            display: flex;
            justify-content: space-between;
            font-weight: 600;
        }
        
        &-person {
            font-size: 1.6rem;
            color: var(--color-secondary);
            letter-spacing: 1px;
        }

        &-date,
        &-text { 
            font-size: 1.4rem; 
        }

        &-content { margin-top: 1rem; }

        &-rating {
            font-size: 0;
            margin-right: 1rem;
        }
    }

    &__bottom {
        border-top: var(--border-light);
        background-color: var(--color-gray-light-1);

        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: calc(2 * var(--default-bar-height));
    }
}