.gallery {
    display: flex;

    // HERE
    height: 22.5rem;
    max-height: 22.5rem;

    &-item {
        background-image: linear-gradient(to right bottom,
            var(--color-gray-light-4),
            var(--color-gray-light-3));
        flex: 1;
        object-fit: cover;
    }
}