.panel {
    &__nav-link {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.2rem 1.6rem;
        color: inherit;
        text-decoration: none;
        transition: background-color .2s;

        & .icon {
            width: 2rem;
            height: 2rem;
        }

        &:hover {
            color: var(--color-white);
            background-color: var(--color-gray-dark-0);
        }

        &.active {
            position: relative;
            color: var(--color-white);
            box-shadow: inset 5px 0 var(--color-primary);
            background-color: var(--color-gray-dark-0);
        }

        &.disabled {
            cursor: default;
            opacity: .3;
        }
    }

    &__nav-item:not(.active):not(.disabled) &__nav-link {
        cursor: default;
    }
}