.adress-details {
    font-size: 1.4rem;
    padding-left: 1rem;
    transition: max-height .3s;
    
    & > address {
        font-style: normal;
    }

    & > address > * {
        display: block;
    }
}