.u-mb-small { margin-bottom: .75rem; }
.u-mb-medium { margin-bottom: 1rem; }
.u-mb-big { margin-bottom: 1.5rem; }
.u-mb-huge { margin-bottom: 3rem; }
.u-mb-biggest { margin-bottom: 4.5rem; }
.u-mt-fixed { margin-top: calc(1.5 * var(--default-vertical-gap)) }