@import './../../style//shared.scss';

.form {
    position: relative;
    
    &__label {
        display: inline-block;
        position: relative;
        font-size: 1.3em;
        font-weight: 400;
        line-height: 1;
        letter-spacing: 1px;
        color: var(--color-gray-dark-3);
        margin-bottom: .8rem;
    
        &--checkbox {
            line-height: 1.4;
            padding-left: 4rem;
            margin-bottom: 0;
        }

        &--required::after {
            content: '*';
            display: inline;
            margin-left: .5rem;
            color: var(--color-primary);
        }
    }

    &__valid-icon {
        visibility: none;
        opacity: 0;
        width: 2.2rem;
        height: 2.2rem;
        padding: .3rem;
        position: absolute;
        bottom: 1.8rem;
        right: -1rem;
        background-color: var(--color-white);
        border-radius: 50%;
        border: var(--border-lighter);
        border-color: var(--color-secondary-light);
        transform: translateY(50%);
        fill: rgba($color-secondary-light, .75);
        transition: opacity .4s ease-in;
    }

    &__input {
        display: block;
        width: 100%;
        padding: .8rem 1.6rem;
        letter-spacing: 1px;
        border-radius: var(--default-border-radius);
        border: var(--border-lighter);
        box-shadow: var(--shadow-form);
        transition: border-color .4s ease-in-out;

        &--textarea {
            min-height: 12rem;
            resize: vertical;
        }

        &:focus {
            border-color: var(--color-secondary) !important;
            box-shadow: var(--shadow-small-middle);
        }

        &-error {
            display: inline-block;
            width: 100%;
            position: absolute;
            bottom: 0;
            right: 0;
            padding: 0 1rem;
            color: var(--color-primary);
            text-align: right;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            transform: translateY(100%);
            visibility: hidden;
            opacity: 0;
            transition: opacity .4s ease-in-out;
        }
    }

    &__error-message {
        position: absolute;
        bottom: 2rem;
        left: 4rem;
        right: 4rem;
        font-size: 1.2rem;
        text-align: center;
        color: var(--color-primary);
        opacity: 0;
        transition: opacity 400ms;
        &.in { opacity: 1}
    }

    &__block.valid &__valid-icon {
        visibility: visible;
        opacity: 1;
    }
    &__block.error  &__input-error {
        visibility: visible;
        opacity: 1;
    }

    &__block.valid &__input { border-color: rgba($color-secondary-light, .75); }
    &__block.error &__input { border-color: rgba($color-primary-light, .75); }
}