.logo {
    font-size: 3rem;
    color: var(--color-gray-light-4);
    font-weight: 300;
    letter-spacing:-1px;
    text-decoration: none;
    transition: letter-spacing .2s ease-in-out;

    &__dot {
        font-size: .7em;
        letter-spacing: -2px;
        padding-left: 1px;
    }

    &--white {
        color: var(--color-white);
    }

    &--color {
        @supports (-webkit-background-clip: text) or (background-clip: text) {
            color: transparent;
            background: linear-gradient(to right, var(--color-primary), var(--color-tertiary));
            -webkit-background-clip: text;
            background-clip: text;
            opacity: .75;
        }
    }
    
    &--primary {
        color: var(--color-primary);
        font-weight: 400;
    }

    &--large {
        font-size: 5rem;
    }
    
}
