@import './../../../../style/shared.scss';

.search {
    background-color: rgba($color-white, .35);
    padding: 1.25rem 1.75rem;
    border-radius: 3rem;
    width: 60%;
    margin: 0 auto;
    box-shadow: var(--shadow-medium-dark);
    display: flex;


    &__input {
        background-color: var(--color-gray-light-1);
        flex-basis: 40%;
        padding: 1rem 1.75rem;
        color: var(--color-gray-dark-2);

        &:first-child {
            position: relative;
            border-top-left-radius: 3rem;
            border-bottom-left-radius: 3rem;
        }
    }

    &__submit {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
        font-size: 1.6rem;
        color: var(--color-gray-light-1);
        font-weight: 600;
        letter-spacing: 1px;
        border-top-right-radius: 3rem;
        border-bottom-right-radius: 3rem;
        background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));

        &-icon {
            fill: currentColor;
            height: 1.6rem;
            width: 1.6rem;
            margin-right: .7rem;
        }

        &:hover {
            background-image: linear-gradient(to right bottom, var(--color-primary-dark), var(--color-primary-light));
        }
        &:active {
            background-image: linear-gradient(to right bottom, var(--color-primary-dark), var(--color-primary-dark));
        }
        &:focus:not(:active) {
            text-decoration: underline;
        }
    }

    &__pipe {       
        border-top: .8rem solid var(--color-gray-light-1);
        border-bottom: .8rem solid var(--color-gray-light-1);
        background-color: var(--color-gray-light-4);
        width: 1px;
    }
}