.offer {
    position: relative;
    overflow: hidden;
    background-color: var(--color-white);
    padding: var(--default-padding);
    box-shadow: var(--shadow-small-middle);
    border-radius: var(--default-border-radius);
    border-left: 4px solid var(--color-secondary);
    
    &:not(:last-of-type) {
        margin-bottom: var(--small-vertical-gap);
    }
    &__short { 
        font-size: 1.2rem;
        margin-bottom: 1rem;
    }

    &__date {
        position: absolute;
        font-size: 1.4rem;
        top: 0;
        right: 0;
        z-index: 1;
    }

    &__top {
        display: flex;
        min-height: 10rem;
        align-items: stretch;
    }
    
    &__image-box {
        flex-basis: 15rem;
        border-right: var(--border-lighter);
        padding-right: var(--default-padding);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__image {
        max-height: 9rem;
        border-radius: var(--default-border-radius);
    }

    &__content {
        position: relative;
        flex: 1;
        padding-right: 8rem;
        margin-left: var(--default-padding);

        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    
    &__location {
        display: inline-flex;
        align-items: center;
        font-weight: 600;
        font-size: 1.2rem;
        line-height: 1;
        color: var(--color-primary);
        text-decoration: none;

        & span {
            display: inline-block;
            padding-bottom: 2px;
            border-bottom: 1px solid currentColor;
        }
    }

    &__link {
        cursor: pointer;
        text-decoration: none;

        &:link,
        &:visited {
            color: var(--color-secondary);
        }

        &:hover,
        &:active { color: var(--color-primary); }
    }

    &__details-toggle {
        position: absolute;
        bottom: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        padding: .25rem;
        color: var(--color-secondary-light);
        cursor: pointer;
        transition: color .6s;
    }

    &__details-toggle:hover {
        color: var(--color-secondary);
    }

    &__details-switcher {
        display: none;
    }

    &__bottom {
        font-size: 1.2rem;
        letter-spacing: 1px;
        text-align: justify;
        max-height: 0;
        overflow: hidden;
        transition: all .6s;
    }

    &__bottom > p {
        margin-top: var(--default-padding);
        position: relative;

        &::before {
            content: '';
            display: block;
            border-top: var(--border-lighter);
            position: absolute;
            top: calc(var(--default-padding) / -2);
            left: 0;
            right: 0;
        }
    }

    &__details-switcher:checked + &__bottom {
        max-height: 15rem; 
    }
}