.icon {
    width: 1.75rem;
    height: 1.75rem;
    fill: currentColor;

    &--primary { fill: var(--color-primary); }
    &--secondary { fill: var(--color-secondary); }
    &--tertiary { fill: var(--color-tertiary); }
    &--blank { fill: var(--color-gray-light-4); }

    &--small {
        width: 1.25rem;
        height: 1.25rem;
    }

    &--big {
        width: 2rem;
        height: 2rem;
    }

    &--mr {
        margin-right: calc(var(--default-padding) / 2);
    }
    &--rotate90 { transform: rotate(90deg) }
    &--rotate180 { transform: rotate(180deg) }
    &--rotate270 { transform: rotate(270deg) }
}