.heading-primary {
    font-size: 2.4rem;
    font-weight: 300;
    &--bold { font-weight: 400; }
}

.heading-secondary {
    font-size: 1.8rem;
    font-weight: 400;
    &--bold { font-weight: 600; }
}

.heading-tertiary {
    font-size: 1.4rem;
    font-weight: 400;
    &--bold { font-weight: 600; }
}

.heading-primary,
.heading-secondary,
.heading-tertiary {
    color: var(--color-gray-dark-2);
    &--white { color: var(--color-white); }
    &--primary { color: var(--color-primary); }
    &--secondary { color: var(--color-secondary); }
    &--underline { 
        position: relative;
        &::before {
            content: '';
            display: block;
            position: absolute;
            bottom: -.4rem;
            left: 0;
            width: 7rem;
            border-bottom: 3px solid var(--color-primary);
        }
    }
}
 
