@import './../../../style/shared.scss';

.button {
    position: relative;
    display: inline-block;
    padding: .6rem 1.2rem;
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 1.4;
    background-color: transparent;
    border-radius: 5rem; // overkill
    border: 2px solid currentColor;
    text-decoration: none;
    color: var(--color-white);
    box-shadow: var(--shadow-small-middle);
    cursor: pointer;
    top: 0;
    transition: all .2s;
    @include noselect;

    &:hover { 
        box-shadow: var(--shadow-small-dark);
        color: var(--color-white);
        top: -2px;
    }
    
    &:active,
    &:focus {
        top: 0;
        box-shadow: var(--shadow-small-middle);
    }

    &--icon {
        display: inline-flex;
        justify-content: center;
        align-items: center;

        & span { margin-right: 1rem; }
    }

    &--big {
        padding: .8rem 1.6rem;
        font-size: 1.6rem;
    }

    &--primary {
        color: var(--color-primary);
        &:hover { 
            background-image: linear-gradient(to right bottom,
                var(--color-primary-light),
                var(--color-primary));
            border: 2px solid var(--color-primary);
        }
    }

    &--secondary {
        color: var(--color-secondary);
        &:hover { 
            background-image: linear-gradient(to right bottom,
                var(--color-secondary-light),
                var(--color-secondary));
            border: 2px solid var(--color-secondary);
        }
    }

    &--tertiary {
        color: var(--color-tertiary);
        &:hover { 
            background-image: linear-gradient(to right bottom,
                var(--color-tertiary-light),
                var(--color-tertiary));
            border: 2px solid var(--color-tertiary);        
        }
    }
}